@use '../_resets';

.button-component {
  display: block;
  appearance: none;
  font-family: inherit;
  border: none;
  padding: 0.65em 1.1em;
  cursor: pointer;
  color: #fff;
  transition: transform 150ms linear;

  &:active {
    transform: scale(1.05);
  }
  img {
    width: 20px;
  }
}
