.wind-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  div {
    background-color: rgba(255, 255, 255, 0.3);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 30px;
    display: grid;
    place-content: center;

    img {
      width: 15px;
      transform: rotate(180deg);
    }
  }
  p {
    font-weight: 500;
  }
}
